@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500;600;700&display=swap');

:root {
  font-size: 16px;
  font-family: Inter, sans-serif;
  font-weight: 500;

  --tiny-spacing: 0.1rem;
  --small-spacing: 0.5rem;
  --normal-spacing: 1rem;
  --large-spacing: 1.5rem;
  --xl-spacing: 2rem;

  --normal-border-radius: 10px;

  --primary-color: #ffffff;
  --secondary-color: #929292;
  --tertiary-color: #605757;
  --highlight-color: #008684;

  --primary-background-color: #000000;

  --ion-background-color: var(--primary-background-color);
}

* {
  margin: 0;
}

h1, h2, h3, h4, h5, h6 {
  color: var(--primary-color);
  font-weight: 700;
}

h1 {
  font-size: 1.75rem;
}

h2 {
  font-size: 1.5rem;
}

.fancy-text {
  background-clip: text;
  color: transparent;

  background-size: 100%;
  background: linear-gradient(112.59deg, #008684 35.31%, #03598A 66.87%);

  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.tertiary-text {
  color: var(--tertiary-color);
}

.center-text {
  text-align: center;
}

span[router-link] {
  color: var(--primary-color);

  &:hover {
    text-decoration: underline;
    cursor: pointer;
  }
}

ion-item.input {
  width: 100%;
  --border-color: var(--tertiary-color);
  --border-width: 2px;
  --border-style: solid;
  --border-radius: var(--normal-border-radius);

  --padding-top: 0;
  --padding-bottom: 0;

  & > ion-input {
    width: 100%;
    --color: var(--secondary-color);
    --highlight-color-focused: var(--secondary-color);
    --placeholder-color: var(--tertiary-color);
    --placeholder-opacity: 1;

    --padding-start: var(--xl-spacing);
    --padding-end: var(--xl-spacing);
    --padding-top: var(--normal-spacing);
    --padding-bottom: var(--normal-spacing);
  }
}

ion-item.second-input {
  width: 100%;
  --border-color: var(--primary-color);
  --border-width: 2px;
  --border-style: solid;
  --border-radius: var(--normal-border-radius);

  --padding-top: 0;
  --padding-bottom: 0;
  --inner-padding-top: 0;
  --inner-padding-bottom: 0;
  --inner-padding-start: var(--small-spacing);
  --inner-padding-end: var(--small-spacing);

  & > ion-input {
    width: 100%;
    --color: var(--secondary-color);
    --highlight-color-focused: var(--secondary-color);
    --placeholder-color: var(--tertiary-color);
    --placeholder-opacity: 1;

    --padding-start: var(--normal-spacing);
    --padding-end: var(--normal-spacing);
    --padding-top: 0;
    --padding-bottom: 0;
  }
}

ion-button {
  --background: var(--primary-color);
  --color: var(--primary-background-color);

  --border-radius: var(--normal-border-radius);
  --padding-top: var(--large-spacing);
  --padding-bottom: var(--large-spacing);

  font-size: 1.1rem;
  font-weight: 600;
  text-transform: none;
}

.container {
  max-width: 1200px;
  width: calc(100% - var(--large-spacing) * 2);
  margin: 0 auto;
  padding: var(--normal-spacing) var(--large-spacing);
}

@media (max-width: 768px) {
  .container {
    max-width: 100%;
  }
}